webapp/WEB-INF/xsd/DetailService.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns="http://webservices.samples.blog.com" 
			targetNamespace="http://webservices.samples.blog.com" 
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified">  
      <xs:element name="DetailService" type="DetailService"/>  
      <xs:complexType name="DetailService">  
           <xs:sequence>  
                <xs:element name="ServiceType" type="xs:string"/>  
                <xs:element name="Other" type="xs:string"/>  
                <xs:element name="return" type="xs:string"/>  
           </xs:sequence>  
      </xs:complexType>  
      
</xs:schema>